{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<title>Geo Dashboard</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link rel="icon" href="{% static 'userPage/img/icon.png' %}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'userPage/css/userPage.css' %}" type="text/css"/>

	</head>

	<body>

    <div id="containerExpired">

      <p id="expired">{{ message }}</p>
      <img src="{% static 'userPage/img/cross.svg' %}" id='cross'/>

    </div>

	</body>
</html>
